.main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.main.loading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10vw;
  height: 10vw;
  margin-top: -5vw;
  margin-left: -5vw;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 1s linear infinite;
}
